html {
  font-size: 18px;
  color: white;

}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

h1, h4 {
  font-weight: bold;
}

/* Top Bar Section */

.company {
  background-color: black;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}

.company img {
  padding: 15px;
  height: 1.5rem;
}

/* Main Banner Section */

.main-banner {
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.headline {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}

.headline h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0.25em 0;
}

/* Menu Section */

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
  list-style: none;
}

.product {
  width: 30%;
}

.products, .business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.product-image {
  border: 4px solid black;
  padding: 2em;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {

  max-width: 8em;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}


/* Mobile CSS */

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center
  }

  .product {
    width: 47%;
  }
}
